---
import { SITE, SIDEBAR } from "../config";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import "../styles/main.scss";

const { content = {} } = Astro.props;
// SIDEBARからheader=trueのものを取得
const navItems = SIDEBAR.filter((item) => item.header);
---

<html
  dir={content.dir ?? "ltr"}
  lang={content.lang ?? SITE.defaultLanguage}
  class="initial"
>
  <head>
    <HeadCommon />
    <HeadSEO {content} />
    <title>
      {SITE.title}
    </title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2PLQ9T3RQE"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(...args) {
      window.dataLayer.push(args);
    }
    gtag("js", new Date());

    gtag("config", "G-2PLQ9T3RQE");
  </script>

  <div class="min-h-screen bg-slate-100 text-center">
    <!-- nabItemsのaタグの色を変えないように、ここに`.content`を付与 -->
    <header
      class="content flex h-screen flex-col items-center justify-center bg-gradient-to-br from-slate-700 to-black px-4 pb-24 pt-12 md:h-min"
      style="text-wrap: balance;"
    >
      <div class="flex items-center justify-center p-4">
        <div class="text-slate-300">
          <svg
            width="256px"
            height="256px"
            viewBox="0 0 256 256"
            preserveAspectRatio="xMidYMid meet"
          >
            <use xlink:href="/icons/kzk4043-logo.svg#horse"></use>
          </svg>
        </div>
      </div>
      <h1 class="font-sans text-4xl font-medium text-white drop-shadow-sm">
        {SITE.title}
      </h1>
      <!-- aタグがホバーされたときにsvgだけ色を変える -->
      <style>
        a:hover svg {
          color: #ffa500;
        }
      </style>
      <p class="mt-4 text-lg text-slate-300">
        {SITE.description}（ <a href="rss.xml">
          <svg
            class="inline h-5 w-5 text-slate-500"
            width="256px"
            height="256px"
            viewBox="0 0 8 8"
            preserveAspectRatio="xMidYMid meet"
          >
            <use xlink:href="/icons/rss.svg#rss"></use>
          </svg> RSS feed
        </a>）<br />
         kzk4043のポートフォリオ（別サイト）は<a
          href={SITE.portfolio}
          class="text-link">こちら</a
        >
      </p>
    </header>
    <nav class="p-6 md:p-12">
      <div
        class="mx-auto flex w-full max-w-6xl flex-wrap justify-center gap-4 text-left"
      >
        {
          navItems.map(({ text, description, url, image }) => (
            <a
              href={url}
              class="flex w-full flex-col items-center rounded-md bg-white p-4 transition-all hover:-translate-y-1 hover:shadow-lg md:w-1/3 lg:w-[23%]"
            >
              <img src={image || "/icons/kzk4043-logo.svg"} alt={text} />
              <h2 class="text-lg font-medium">{text}</h2>
              <p class="text-slate-500">{description}</p>
            </a>
          ))
        }
      </div>
    </nav>
  </div>
  <script is:inline></script>
</html>
