---
import { SITE, SIDEBAR } from "../config";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import "../styles/main.scss";

const { content = {} } = Astro.props;
// SIDEBARからheader=trueのものを取得
const navItems = SIDEBAR.filter((item) => item.header);
---

<html
  dir={content.dir ?? "ltr"}
  lang={content.lang ?? SITE.defaultLanguage}
  class="initial"
>
  <head>
    <HeadCommon />
    <HeadSEO {content} />
    <title>
      {SITE.title}
    </title>
  </head>
  <div class="bg-slate-100 min-h-screen text-center">
    <header class="pt-12 pb-24 px-4 bg-gradient-to-br from-slate-700 to-black">
      <div class="flex items-center justify-center p-4">
        <div class="text-slate-300">
          <svg
            width="256px"
            height="256px"
            viewBox="0 0 256 256"
            preserveAspectRatio="xMidYMid meet"
          >
            <use xlink:href="/icons/kzk4043-logo.svg#horse"></use>
          </svg>
        </div>
      </div>
      <h1 class="font-sans text-white text-4xl font-medium drop-shadow-sm">
        {SITE.title}
      </h1>
      <p class="text-lg mt-4 text-slate-300">
        {SITE.description}<br />
         ポートフォリオは<a
          class="text-[#2563eb] hover:opacity-70"
          href={SITE.portfolio}>こちら（別サイト）</a
        >
      </p>
    </header>
    <nav class="p-12">
      <ul class="flex gap-4 max-w-5xl mx-auto text-left">
        {
          navItems.map(({ text, description, url, image }) => (
            <a
              href={url}
              class="flex flex-col bg-white rounded-md hover:-translate-y-1 hover:shadow-lg transition-all flex-1 items-center p-4"
            >
              <img src={image || "/icons/kzk4043-logo.svg"} alt={text} />
              <h2 class="text-lg font-medium">{text}</h2>
              <p class="text-slate-500">{description}</p>
            </a>
          ))
        }
      </ul>
    </nav>
  </div>
  <script is:inline></script>
</html>
