---
import { SIDEBAR } from "../../config";

const { content } = Astro.props;
const title = content.title;

/** SIDEBARからheader=trueのものを除く */
const sidebarWithoutHeader = SIDEBAR.filter((item) => !item.header);
/** sidebarWithoutHeaderのうち、content.urlのページのindex */
const currentPageIndex = sidebarWithoutHeader.findIndex(
  (item) => item.link === content.url,
);
/** sidebarWithoutHeaderのうち、content.urlが一致するものの一つ前の要素 */
const previousPage = sidebarWithoutHeader[currentPageIndex - 1];
/** sidebarWithoutHeaderのうち、content.urlが一致するものの一つあとの要素 */
const nextPage = sidebarWithoutHeader[currentPageIndex + 1];
---

<article id="article" class="w-full">
  <section class="main-section w-full">
    <p>公開日: {content.pubDate}</p>
    <div class="content">
      <h1>{title}</h1>
      <slot />
    </div>
    <div class="mt-20 flex flex-wrap-reverse justify-between gap-4">
      {
        previousPage ? (
          <a
            href={previousPage.link}
            class="w-full rounded-lg bg-slate-200 px-8 py-4 text-slate-600 shadow-md hover:bg-main-blue/30 md:w-[40%]"
          >
            ← prev
            <div class="text-xl font-bold">{previousPage.text}</div>
          </a>
        ) : (
          <div />
        )
      }
      {
        nextPage ? (
          <a
            href={nextPage.link}
            class="w-full rounded-lg bg-slate-200 px-8 py-4 text-right text-slate-600 shadow-md hover:bg-main-blue/30 md:w-[40%]"
          >
            next →<div class="text-xl font-bold">{nextPage.text}</div>
          </a>
        ) : (
          <div />
        )
      }
    </div>
  </section>
</article>
