---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import PageContent from "../components/PageContent/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import * as CONFIG from "../config";
import "../styles/main.scss";

const { content = {}, headings = [] } = Astro.props;
const currentPage = new URL(Astro.url).pathname;
---

<html
  dir={content.dir ?? "ltr"}
  lang={content.lang ?? CONFIG.SITE.defaultLanguage}
  class="initial"
>
  <head>
    <HeadCommon />
    <HeadSEO {content} />
    <title>
      {
        content.title
          ? `${content.title} | ${CONFIG.SITE.title}`
          : CONFIG.SITE.title
      }
    </title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2PLQ9T3RQE"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(...args: any[]) {
      window.dataLayer.push(args);
    }
    gtag("js", new Date());

    gtag("config", "G-2PLQ9T3RQE");
  </script>

  <body class="bg-slate-100">
    <div class="sticky top-0 z-10 h-16 w-full">
      <Header />
    </div>
    <div
      class="mx-auto flex max-w-8xl px-6 md:grid md:grid-cols-[minmax(0,1fr)_minmax(0,2fr)] md:gap-10 md:px-0 md:pr-10 xl:grid-cols-[minmax(0,1fr)_minmax(0,2.5fr)_minmax(0,15rem)] xl:gap-14"
    >
      <div class="sticky top-16 hidden h-min md:block">
        <div class="ml-auto">
          <LeftSidebar currentPage={currentPage} />
        </div>
      </div>
      <main class="pb-16 pt-10">
        <PageContent content={content}>
          <slot />
        </PageContent>
      </main>
      <div class="sticky top-16 hidden h-min xl:block">
        <RightSidebar headings={headings} />
      </div>
    </div>
  </body>
</html>
