---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import PageContent from "../components/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import * as CONFIG from "../config";
import "../styles/main.scss";

const { content = {}, headings = [] } = Astro.props;
const currentPage = new URL(Astro.url).pathname;
// const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
---

<html
  dir={content.dir ?? "ltr"}
  lang={content.lang ?? CONFIG.SITE.defaultLanguage}
  class="initial"
>
  <head>
    <HeadCommon />
    <HeadSEO {content} />
    <title>
      {
        content.title
          ? `${content.title} | ${CONFIG.SITE.title}`
          : CONFIG.SITE.title
      }
    </title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2PLQ9T3RQE"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(...args: any[]) {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2PLQ9T3RQE");
  </script>

  <body class="bg-slate-100">
    <div class="sticky top-0 z-10 w-full">
      <Header />
    </div>
    <div class="max-w-7xl mx-auto px-4">
      <div
        class="hidden lg:block fixed z-20 inset-0 top-[4.5rem] left-[max(0px,calc(50%-42rem))] right-auto w-[19rem] pb-10 pl-8 pr-6 overflow-y-auto"
      >
        <div class="ml-auto">
          <LeftSidebar currentPage={currentPage} />
        </div>
      </div>
      <main class="lg:pl-[19rem]">
        <div
          class="max-w-4xl mx-auto pt-7 pb-20 xl:max-w-none xl:ml-0 xl:mr-[15.5rem] xl:pr-16"
        >
          <PageContent content={content}>
            <slot />
          </PageContent>
        </div>
      </main>
      <div
        class="fixed z-20 top-[4.5rem] bottom-0 right-[max(0px,calc(50%-42rem))] w-[19rem] py-3 overflow-y-auto hidden xl:block"
      >
        <RightSidebar headings={headings} />
      </div>
    </div>
  </body>
</html>
